.sweet-modal-overlay {
	background: radial-gradient(at center, rgba($lightColor, 0.84) 0%, rgba($lightColor, 0.96) 100%);
	
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 901;
	overflow-y: auto;

	-webkit-transform: translate3D(0, 0, 0);
	-webkit-perspective: 500px;

	&.bounce .sweet-modal-box {
		-webkit-animation-name: bounce;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-iteration-count: 2;
		-webkit-animation-direction: alternate;

		animation-name: bounce;
		animation-duration: 0.1s;
		animation-iteration-count: 2;
		animation-direction: alternate;
	}

	// Dark Theme
	&.dark {
		background: rgba(darken($darkColor, 6%), 0.98);
		
		.sweet-modal-close a.sweet-modal-close-link {
			background-color: darken($darkColor, 6%);
			background-image: url(../images/close_light.svg);

			&:hover {
				background-color: $accent;
			}
		}

		.sweet-modal-box {
			background: darken($darkColor, 2%);
			color: #fff;
			box-shadow: 0px 8px 24px rgba(#000, 0.1), 0px 2px 6px rgba(#000, 0.03);

			.sweet-modal-title-wrap {
				border-color: darken($darkColor, 6%);
				box-shadow: 0px 1px 0px lighten($darkColor, 1%);
			}

			.sweet-modal-title {

				h2 {
					color: #fff;
				}

				.sweet-modal-tabs-links ul {

					li a {
						color: $darkGreyText;

						.icon svg {

							&, path {
								fill: $darkGreyText;
							}
						}
					}

					li:hover a {
						color: #fff;

						.icon svg {

							&, path {
								fill: #fff;
							}
						}
					}

					li.active a {
						color: $accent;

						.icon svg {

							&, path {
								fill: $accent;
							}
						}

						&::after {
							border-bottom-color: $darkBorder;
						}
					}

					li + li a {
						border-left-color: $darkBorder;
					}

					li:last-child a {
						border-right-color: $darkBorder;
					}
				}
			}

			.sweet-modal-buttons {
				border-color: darken($darkColor, 6%);
				box-shadow: inset 0px 1px 0px lighten($darkColor, 1%);
			}
		}

		div::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
			background: lighten($darkColor, 4%); // Scroll-Piece

			&:hover {
				background: $accent;
			}
		}

		div::-webkit-scrollbar-track-piece, pre::-webkit-scrollbar-track-piece {
			background: darken($darkColor, 2%); // Scroll-Bar-BG
		}
	}

	// Animations
	opacity: 0;
	transition: opacity 0.26s;

	.sweet-modal-box {
		@include transform(scale(0.9) translateY(-32px));
		opacity: 0;

		transition: {
			property: transform, -webkit-transform, opacity;
			duration: 0.3s;
			delay: 0.05s;
			timing-function: cubic-bezier(0.52, 0.02, 0.19, 1.02);
		}

		.sweet-modal-content {
			@include transform(translateY(-8px));
		}

		.sweet-modal-buttons {
			@include transform(translateY(16px));
		}

		.sweet-modal-content, .sweet-modal-buttons {
			opacity: 0;

			transition: {
				property: transform, -webkit-transform, opacity;
				duration: 0.3s;
				delay: 0.141s;
				timing-function: cubic-bezier(0.52, 0.02, 0.19, 1.02);
			}
		}
	}

	&.open {
		opacity: 1;

		.sweet-modal-box {
			@include transform(none);
			opacity: 1;

			.sweet-modal-content, .sweet-modal-buttons {
				@include transform(none);
				opacity: 1;
			}
		}
	}

	@include media(phone) {
		overflow: hidden;
	}
}